In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('//Users//prajna//Downloads//foodmanagement//numofppl.csv')

In [3]:
dummies= pd.get_dummies(data.Area)
dummies = pd.concat([data,dummies],axis='columns')
dummies1 =dummies.drop(['Area'],axis='columns')

dummies = pd.get_dummies(data.Time)
dummies =pd.concat([dummies1,dummies],axis='columns')
dummies2 = dummies.drop(['Time'],axis='columns')

dummies = pd.get_dummies(data.Event)
dummies = pd.concat([dummies2,dummies],axis='columns')
dummies3= dummies.drop(['Event'],axis='columns')

dum = dummies3.loc[:, dummies3.columns.intersection(['No of ppl expected'])] 
dumm = dummies3.drop(['No of ppl expected'],axis='columns')
dummies3 = pd.concat([dumm,dum],axis='columns')

dummies3.head()

,Day,No of ppl attended,Gandhi bazar,Jayanagar,Kengeri,Kumarswami layout,Afternoon,Evening,Night,Birthday party,Pooja,Social event,Wedding,No of ppl expected
0,0,540,0,0,1,0,0,1,0,0,0,0,1,670
1,0,1037,0,1,0,0,1,0,0,0,0,1,0,1500
2,1,1045,0,1,0,0,1,0,0,0,0,1,0,1500
3,1,194,0,0,1,0,0,1,0,1,0,0,0,260
4,0,100,0,1,0,0,1,0,0,0,1,0,0,125

In [4]:
Y = dummies3.loc[:, dummies3.columns.intersection(['No of ppl attended'])]  
X = dummies3.drop(["No of ppl attended"],axis="columns")
X.head()

,Day,Gandhi bazar,Jayanagar,Kengeri,Kumarswami layout,Afternoon,Evening,Night,Birthday party,Pooja,Social event,Wedding,No of ppl expected
0,0,0,0,1,0,0,1,0,0,0,0,1,670
1,0,0,1,0,0,1,0,0,0,0,1,0,1500
2,1,0,1,0,0,1,0,0,0,0,1,0,1500
3,1,0,0,1,0,0,1,0,1,0,0,0,260
4,0,0,1,0,0,1,0,0,0,1,0,0,125

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, np.ravel(Y), test_size=0.20)

In [16]:
from sklearn.linear_model import LinearRegression as LR
clf = LR()
clf.fit(X_train, y_train)
clf.score(X_test,y_test.squeeze())

0.9569763638667161

In [17]:
from sklearn.externals import joblib
joblib_file = "/Users/prajna/Downloads/foodmanagement/foodmgmtppl.pkl"  
joblib.dump(clf, joblib_file)

['/Users/prajna/Downloads/foodmanagement/foodmgmtppl.pkl']

In [135]:
rice_data = pd.read_csv('//Users//prajna//Downloads//foodmanagement/rice.csv')
X1 = rice_data["No of ppl attended"].values[1:]
X1 = X1.reshape(-1,1)
Y1 = rice_data["Rice"].values[1:]
Y1=Y1.reshape(-1,1)


X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, Y1, test_size=0.20, random_state=100)
rice_model = LR()
rice_model.fit(X_train1, y_train1)
print(rice_model.score(X_test1,y_test1.squeeze()))
print(rice_model.score(X_train1,y_train1))

0.9453359385302825
0.9659083651823854

In [136]:
rice_m = "/Users/prajna/Downloads/foodmanagement/rice_model.pkl"  
joblib.dump(rice_model, rice_m)

['/Users/prajna/Downloads/foodmanagement/rice_model.pkl']

In [147]:
sambar_data = pd.read_csv('//Users//prajna//Downloads//foodmanagement/sambar.csv')
X2 = sambar_data["No of ppl attended"].values[1:]
X2=X2.reshape(-1,1)
Y2 = sambar_data["Sambar/rasam"].values[1:]
Y2 = Y2.reshape(-1,1)

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, Y2, test_size=0.20, random_state=101)
sambar_model = LR()
sambar_model.fit(X_train2, y_train2)
print(sambar_model.score(X_test2,y_test2.squeeze()))
print(sambar_model.score(X_train2,y_train2))

0.9622896179614976
0.9500344470432861

In [148]:
sambar_m = "/Users/prajna/Downloads/foodmanagement/sambar_model.pkl"  
joblib.dump(sambar_model, sambar_m)

['/Users/prajna/Downloads/foodmanagement/sambar_model.pkl']

In [151]:
roti_data = pd.read_csv('//Users//prajna//Downloads//foodmanagement//roti.csv')
X3 = roti_data["No of ppl attended"].values[1:]
X3 = X3.reshape(-1,1)
Y3 = roti_data["Roti"].values[1:]
Y3 = Y3.reshape(-1,1)

X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, Y3, test_size=0.20, random_state=100)
roti_model = LR()
roti_model.fit(X_train3, y_train3)
print(roti_model.score(X_test3,y_test3.squeeze()))
print(roti_model.score(X_train3,y_train3))

0.9807364838022962
0.9728712532821009

In [152]:
roti_m = "/Users/prajna/Downloads/foodmanagement/roti_model.pkl"  
joblib.dump(roti_model, roti_m)

['/Users/prajna/Downloads/foodmanagement/roti_model.pkl']

In [163]:
sabji_data = pd.read_csv('//Users//prajna//Downloads//foodmanagement/sabji.csv')
X4 = sabji_data["No of ppl attended"].values[1:]
X4 = X4.reshape(-1,1)
Y4 = sabji_data["Sabji"].values[1:]
Y4 = Y4.reshape(-1,1)

X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, Y4, test_size=0.20, random_state=104)
sabji_model = LR()
sabji_model.fit(X_train4, y_train4)
print(sabji_model.score(X_test4,y_test4.squeeze()))
print(sabji_model.score(X_train4,y_train4))

0.919101619600194
0.9379445515298481

In [164]:
sabji_m = "/Users/prajna/Downloads/foodmanagement/sabji_model.pkl"  
joblib.dump(sabji_model, sabji_m)

['/Users/prajna/Downloads/foodmanagement/sabji_model.pkl']

In [199]:
payasam_data = pd.read_csv('//Users//prajna//Downloads//foodmanagement//payasam.csv')
X5 = payasam_data["No of ppl attended"].values[1:]
X5 = X5.reshape(-1,1)
Y5 = payasam_data["Payasam"].values[1:]
Y5 = Y5.reshape(-1,1)

X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, Y5, test_size=0.20, random_state=100)
payasam_model = LR()
payasam_model.fit(X_train5, y_train5)
print(payasam_model.score(X_test5,y_test5.squeeze()))
print(payasam_model.score(X_train5,y_train5))

0.9246002076555357
0.8966303696706805

In [200]:
payasam_m = "/Users/prajna/Downloads/foodmanagement/payasam_model.pkl"  
joblib.dump(payasam_model, payasam_m)

['/Users/prajna/Downloads/foodmanagement/payasam_model.pkl']